* {
    background-image: none;
    font-size: 24px;
}

window {
    background-color: rgba(0, 0, 0, .5)
}

button {
    color: #5283AA;
    background-color: #122328;
    outline-style: none;
    border: none;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    background-size: 30%;
}

button:focus {
    background-size: 20%;
}

button:hover {
    background-size: 25%;
    border-radius: 25%;
    animation: gradient_f 20s ease-in infinite;
    transition: all .25s ease-in-out;
    color:#122328;
    margin: 50px;
}

button:hover#lock {
    background-color: #f20138;
    border-radius: 25%;

}

button:hover#shutdown {
    background-color: #cb4100;
    border-radius: 25%;
}

button:hover#reboot {
    background-color: #01d6a0;
    border-radius: 25%;
}

#lock {
    background-image: image(url("/home/rohan/.config/wlogout/lock_black.png"));
    border-radius: 15% 0 0 15%;
}

#shutdown {
    background-image: image(url("/home/rohan/.config/wlogout/shutdown_black.png"));
}

#reboot {
    background-image: image(url("/home/rohan/.config/wlogout/reboot_black.png"));
    border-radius: 0 15% 15% 0;
}