* {
    background-image: none;
    font-size: 24px;
}

window {
    background-color: rgba(0, 0, 0, .5)
}

button {
    color: #5283AA;
    background-color: #122328;
    outline-style: none;
    border: none;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-size: 20%;
}